-e bzr+http://vindictive.flightdataservices.com/Bazaar/FilterPype#egg=FilterPype
-e bzr+http://vindictive.flightdataservices.com/Bazaar/Utilities#egg=Utilities
-e bzr+http://vindictive.flightdataservices.com/Bazaar/HDFAccess#egg=HDFAccess
numpy
scipy
networkx
httplib2
pygraphviz
matplotlib
mock

