FilterPype
Utilities
-f http://vindictive.flightdataservices.com/Nest/dist/Utilities-0.1.1.dev.20.zip
HDFAccess
-f http://vindictive.flightdataservices.com/Nest/dist/HDFAccess-0.1.1.dev.54.zip
numpy
scipy
networkx
httplib2
pygraphviz
matplotlib
mock
aerocalc
simplekml
