<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{% block title %}{% endblock %} | Flight Data Services</title>
{% block head %}{% endblock %}
<link rel="stylesheet/less" href="/_assets/fds/less/style.less">
<script src="_assets/lib/js/less/1.2.1/less.min.js"></script>
<script src="/_assets/lib/js/modernizr/2.6.1/modernizr.min.js"></script>
</head>
<body>
<div id="wrapper">
<header>
<img id="logo" src="/_assets/fds/img/logo/fds.png" width="160" height="60">
</header>
{% block content %}{% endblock %}
<footer>
<p class="copyright">Copyright © {{ year }} Flight Data Services Ltd No. 4041206.</p>
<p class="poweredby">Powered by <img alt="POLARIS" src="/_assets/fds/img/logo/polaris.png" width="110" height="20"></p>
</footer>
{% block script %}{% endblock %}
</body>
</html>
