{% extends 'base.html' %}

{% block title %}Flight Data Parameter Tree{% endblock %}

{% block head %}
<link rel="stylesheet" href="/_assets/lib/css/jquery-ui/1.8.23/jquery-ui.min.css">
<link rel="stylesheet" href="/_assets/lib/css/jquery-jqgrid/4.4.0/jquery-jqgrid.css">
<link rel="stylesheet" href="/_assets/lib/css/spacetree.css">
{% endblock %}

{% block script %}
<script src="/_assets/lib/js/jquery/1.8.0/jquery.min.js"></script>
<script src="/_assets/lib/js/jquery-ui/1.8.23/jquery-ui.min.js"></script>
<script src="/_assets/lib/js/jquery-ui/1.8.23/i18n/jquery-ui-i18n.min.js"></script>
<script src="/_assets/lib/js/jquery-jqgrid/4.4.0/i18n/grid.locale-en.js"></script>
<script src="/_assets/lib/js/jquery-jqgrid/4.4.0/jquery-jqgrid.min.js"></script>
<!--[if IE]><script src="/_assets/lib/js/excanvas.js"></script><![endif]-->
<script src="/_assets/lib/js/jit-yc.js"></script>
<script src="/_assets/fds/js/script.js"></script>
{% endblock %}

{% block content %}
<h1>Flight Data Parameter Tree</h1>
<section id="spacetree">
<h2>Spacetree</h2>
<div id="spacetree-canvas"></div>
<div id="spacetree-option">

<h5>Legend</h5>
<ul class="legend">
<li><span class="lfl-parameter"></span> LFL Parameter</li>
<li><span class="derived-parameter"></span> Derived Parameter</li>
<li><span class="flight-attribute"></span> Flight Attribute</li>
<li><span class="flight-phase"></span> Flight Phase</li>
<li><span class="key-point-value"></span> Key Point Value</li>
<li><span class="key-time-instance"></span> Key Time Instance</li>
</ul>

<h5>Options</h5>
<strong>Tree Orientation:</strong>
<p><label for="r-left"><input type="radio" id="r-left" name="orientation" checked="checked" value="left"> Left</label></p>
<p><label for="r-top"><input type="radio" id="r-top" name="orientation" value="top"> Top</label></p>
<p><label for="r-bottom"><input type="radio" id="r-bottom" name="orientation" value="bottom"> Bottom</label></p>
<p><label for="r-right"><input type="radio" id="r-right" name="orientation" value="right"> Right</label></p>
<strong>Select Node:</strong>
<p><input type="text" class="autocomplete" id="nodes"></p>

<h5>Log</h5>
<textarea class="logger"></textarea>

</div>
</section>

<section id="parameters">
<h2>Parameters</h2>
<p><strong>Server:</strong> <tt>{{server}}</tt></p>
{% if not polaris_query %}
<p class="error"><img src="/_assets/img/exclamation-red.png"> <strong>Error:</strong> The POLARIS website could not be accessed.</p>
{% endif %}
<table class="autogrid" id="parameter-list" title="Parameter List" data-filter-toolbar="true" data-height="auto" data-pager="#parameter-list-pager">
<thead>
<tr>
<th data-width="300">Name</th>
{% if polaris_query %}
<th data-width="450">Description</th>
{% endif %}
<th data-align="center" data-width="70">Mandatory</th>
{% if polaris_query %}
<th data-align="center" data-width="70">Database</th>
<th data-align="center" data-width="70">Limits</th>
{% endif %}
</tr>
</thead>
<tbody>
{% for (param_name, param) in params %}
<tr>
<td>{{ param_name }}</td>
{% if polaris_query %}
<td>{{ param.description }}</td>
{% endif %}
<td><img src="../_assets/img/{% if param.mandatory == True %}tick.png{% else %}cross.png{% endif %}"></td>
{% if polaris_query %}
<td><img src="../_assets/img/{% if param.database == True %}tick.png{% else %}cross.png{% endif %}"></td>
<td><img src="../_assets/img/{% if param.limits == True %}tick.png{% else %}cross.png{% endif %}"></td>
{% endif %}
</tr>
{% endfor %}
</tbody>
</table>
<div id="parameter-list-pager"></div>

{% if missing_params %}
<h3>Missing Parameters</h3>
<ul class="missing">
{% for parameter in missing_params -%}
<li>{{ parameter }}</li>
{%- endfor %}
</ul>
</section>
{% endif %}

{% endblock %}
