@charset 'utf-8';

abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{
    border:0;
    font-size:100%;
    font:inherit;
    margin:0;
    padding:0;
    vertical-align:baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display:block;
}
blockquote,q{
    quotes:none;
}
blockquote:after,blockquote:before,q:after,q:before{
    content:'';
    content:none;
}
mark{
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
ins{
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
del{
    text-decoration:line-through;
}
abbr[title],dfn[title]{
    border-bottom:1px dotted;
    cursor:help;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
hr{
    border-top:1px solid #ccc;
    border:0;
    display:block;
    height:1px;
    margin:1em 0;
    padding:0;
}
input,select{
    vertical-align:middle;
}
html{
    font:13px/16px sans-serif;
}
body{
    background:#f2f2f2;
    color:#444444;
}
h1{
    border-bottom:1px dotted #0d78a7;
    color:#0d78a7;
    font-size:140%;
    font-weight:bold;
    margin:1em 0 0.75em;
    padding-bottom:0.5em;
}
h1:first-child{
    margin-top:0;
}
p,dt,dd,li{
    margin-bottom:0.5em;
}
p:last-child,dt:last-child,dd:last-child,li:last-child{
    margin-bottom:0;
}
dl{
    margin:1em 2em 1em 0.5em;
}
ol,ul{
    margin:1em 2em;
}
dt{
    font-weight:bold;
}
dd{
    margin-left:1em;
}
ol{
    list-style-type:decimal;
}
ul{
    list-style-type:square;
}
b,strong{
    font-weight:bold;
}
i,em{
    font-style:italic;
}
sub{
    font-size:smaller;
    vertical-align:sub;
}
sup{
    font-size:smaller;
    vertical-align:super;
}
img{
    vertical-align:middle;
}
a:link,a:visited{
    color:#0f8abe;
    text-decoration:none;
}
a:hover,a:active{
    color:#074560;
    text-decoration:underline;
}
a img{
    border:0;
    cursor:pointer;
}
hr{
    border-top:1px solid #cccccc;
    display:block;
    height:1px;
    margin:1em;
    padding:0;
}hr.solid{
    border-top:1px solid #cccccc;
}
hr.dashed{
    border-top:1px dashed #cccccc;
}
hr.dotted{
    border-top:1px dotted #cccccc;
}
hr.double{
    border-top:3px double #cccccc;
}
::-moz-selection{
    background:#bed630;
    color:#444444;
    text-shadow:none;
}
::selection{
    background:#bed630;
    color:#444444;
    text-shadow:none;
}
.text-right{
    text-align:right;
}
#logo{
    float:right;
    margin-bottom:2em;
}
#heading{
    clear:both;
}
#details hr{
    margin:20px 10px;
}
#message{
    max-height:110px;
    padding-right:5px;
    overflow-y:auto;
}
#message>dl,#message>ol,#message>ul{
    margin:0;
}
#container{
    background:#fff;
    height:860px;
    margin:20px 20px 20px 40px;
    padding:20px;
    position:relative;
    width:1260px;
    -moz-box-shadow:0 0 10px #cccccc;
    -webkit-box-shadow:0 0 10px #cccccc;
    box-shadow:0 0 10px #cccccc;
}
#parameters{
    background:#fff;
/*    height:660px;*/
    margin:20px 20px 20px 40px;
    padding:20px;
    position:relative;
    width:1060px;
    -moz-box-shadow:0 0 10px #cccccc;
    -webkit-box-shadow:0 0 10px #cccccc;
    box-shadow:0 0 10px #cccccc;
}
#left-container,
#right-container,
#center-container{
    height:800px;
    position:absolute;
}
#left-container, #right-container{
    width:300px;
}
#center-container{
    width:800px;
    left:300px;
    background-color:#1a1a1a;
    color:#ccc;
}
.text{
    margin:7px;
}
#log{
    position:absolute;
    bottom:10px;
    font-size:1.0em;
    font-weight:bold;
    color:#23A4FF;
}
#infovis{
    position:relative;
    width:800px;
    height:800px;
    margin:auto;
    overflow:hidden;
}
.tip{
    color:#111;
    width:139px;
    background-color:white;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:7px;
}
.error{
    color: red;
}